.container{
  padding-top: 25px;
  margin-right: 15%;
  margin-left: 15%;
}
.cards{
  margin-right: 10%;
  margin-left: 10%;
}
.names{
  font-weight: bold;
  color: purple;
}

table {
  width: 80%; /* Ширина таблицы */
}
.header{
  font-size: 100%;
  font-weight: bold;
}
.buttons{
  margin-left: 15px;
}



