<div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header">

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)] = "serchStr" (ngModelChange)="handleChange()">

  </div>
</div>


<div class="cards bg-light mb-3" style="max-width: 40rem;" *ngFor="let user of users">
  <div class="card-header">

    <table>

      <tr>
        <td>
            <a class="names" [routerLink]="['/profile/', user.username]"> {{user.fullname}} </a>
        </td>
      </tr>
      <tr>
        <td>
      <tr>
        <td *ngIf="user.username !=''" class="contact" >Login:{{"  " + user.username}}</td>
      </tr>
      </td>
      </tr>

    </table>

  </div>
</div>
