
  <h1 class="head" align="center"> Welcome </h1>
  <h2 align="center" >   to friends !</h2>

  <div class="buttons" >
    <button type="button" class="btn btn-primary btn-sm btn-block" routerLink="/login" *ngIf="!authService.isLoggedIn()">Log in</button>
    <button type="button" class="btn btn-secondary btn-sm btn-block" routerLink="/registration" *ngIf="!authService.isLoggedIn()"> Sign up </button>
  </div>

