
<h3 style="color:purple">Delete Blog</h3>

<br>
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


<div class="col-md-6" *ngIf="foundBlog">

  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title headers">Confirm</h4>
    </div>

    <div class="modal-body">
      <p>Are you sure you would like to delete this blog?</p>
    </div>

    <div class="modal-footer">
      <button [disabled]="processing" type="button" class="btn btn-outline-success" (click)="deletePost()">Yes</button>
      <a routerLink="/publications"><button [disabled]="processing" type="button" class="btn btn-outline-danger">No</button></a>

    </div>
  </div>

</div>
