<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #800080;">
  <span class="navbar-brand mb-0 h1" routerLink="">Friends</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/profile"> Profile </a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="people"> People </a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="publications"> Publications </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/login"> Log in </a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isLoggedIn()" class="nav-link" (click)="onlogout()"> Log out </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/registration"> Sign up </a>
      </li>
    </ul>
  </div>
</nav>

