.container{
  padding-top: 50px;
  margin-right: 30%;
  margin-left: 20%;
}

.txt{
   font-size: 15px;
  font-weight: bold;
   color: purple;
 }

.headers{
  font-size: 20px;
  font-weight: bold;
  color: purple;
}

.refs{
  font-size: 15px;
  color: purple;
}

