<div class="row show-hide-message forms" *ngIf="messageClass">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div *ngIf="!check">
<h1 align="center">Log in</h1>

<form class="forms" [formGroup]="form" (submit)="onLoginSubmit()">

  <label>Email</label>
  <div class="form-group">
       <div [ngClass]="{'has-error': form.controls.email.errors && form.controls.email.dirty,
  'has-success': form.controls.email.valid && form.controls.email.dirty}">
         <input type="text" class="form-control" placeholder="Email" formControlName="email">
         <ul class="help-block">
           <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
         </ul>
       </div>
  </div>

  <label>Password</label>
  <div class="form-group ">
    <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty),
  'has-success': form.controls.password.valid && form.controls.password.dirty}">
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
    <ul class="help-block">
      <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
    </ul>
  </div>
  </div>

  <input  [disabled]="processing || check" type="submit" class="btn btn-primary" value="login"/>
</form>

</div>

<div *ngIf="check">
<h3 align="center">Подтверждение e-mail</h3>
<br>
<br>
<br>

<form class="forms" [formGroup]="formauth" (submit)="onAuthSubmit()">

  <div class="form-group row ">
    <div class="col-sm-12" >
      <input type="text" class="form-control" placeholder="Введите код" formControlName="id">
      <ul class="help-block">
        <li *ngIf="formauth.controls.id.errors?.required && formauth.controls.id.dirty">This field is required</li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <div class="form-group row but">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary"> Подтвердить </button>
    </div>
  </div>

</form>

</div>

