

<h1 align="center">Registration</h1>

<div class="row show-hide-message forms">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form class="forms" [formGroup]="regform" (submit)="onRegisterSubmit()">

  <label>Firstname</label>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" formControlName="firstname">
    <ul class="help-block">
      <li *ngIf="regform.controls.firstname.errors?.required && regform.controls.firstname.dirty">This field is required</li>
      <li *ngIf="regform.controls.firstname.errors?.maxlength && regform.controls.firstname.dirty || regform.controls.firstname.errors?.minlength && regform.controls.firstname.dirty"> MinLength:3, MaxLength : 30 </li>
    </ul>
  </div>

  <label>Secondname</label>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Surname" formControlName="secondname">
    <ul class="help-block">
      <li *ngIf="regform.controls.secondname.errors?.required && regform.controls.secondname.dirty">This field is required</li>
      <li *ngIf="regform.controls.secondname.errors?.maxlength && regform.controls.secondname.dirty || regform.controls.secondname.errors?.minlength && regform.controls.secondname.dirty"> MinLength:3, MaxLength : 30 </li>
    </ul>
  </div>

  <label>Username</label>
  <div class="form-group" [ngClass]="{'has-error': (regform.controls.username.errors && regform.controls.username.dirty) || (!usernameValid && regform.controls.username.dirty),
  'has-success': !regform.controls.username.valid && usernameValid}">
    <input type="text" class="form-control" placeholder="Username" formControlName="username" (blur)="checkUsername()">
    <ul class="help-block">
      <li *ngIf="regform.controls.username.errors?.required && regform.controls.username.dirty">This field is required</li>
      <li *ngIf="regform.controls.username.errors?.maxlength && regform.controls.username.dirty || regform.controls.username.errors?.minlength && regform.controls.username.dirty"> MinLength:5, MaxLength : 15 </li>
      <li *ngIf="regform.controls.username.errors?.validateUsername && regform.controls.username.dirty"> Username must not have any special characters </li>
    </ul>
  </div>

  <label>Email</label>
  <div class="form-group " [ngClass]="{'has-error': (regform.controls.email.errors && regform.controls.email.dirty) || (!emailValid && regform.controls.email.dirty),
  'has-success': !regform.controls.email.valid && emailValid}">
    <input type="email" class="form-control" placeholder="Email" formControlName="email" (blur)="checkEmail()">
    <ul >
      <li *ngIf="regform.controls.email.errors?.required && regform.controls.email.dirty">This field is required</li>
      <li *ngIf="(regform.controls.email.errors?.maxlength || regform.controls.email.errors?.minlength) && regform.controls.email.dirty"> MinLength:5, MaxLength : 30 </li>
      <li *ngIf="regform.controls.email.errors?.validateEmail && regform.controls.email.dirty"> This mast be a valid email </li>
    </ul>
  </div>


  <label>Password</label>
    <div class="form-group " [ngClass]="{'has-error': (regform.controls.password.errors && regform.controls.password.dirty),
  'has-success': !regform.controls.password.errors}">
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
      <ul class="help-block">
        <li *ngIf="regform.controls.password.errors?.required && regform.controls.password.dirty">This field is required</li>
        <li *ngIf="regform.controls.password.errors?.maxlength && regform.controls.password.dirty || regform.controls.password.errors?.minlength && regform.controls.password.dirty "> MinLength:8, MaxLength : 30 </li>
      </ul>
    </div>


  <label>Confirm Password</label>
  <div class="form-group " [ngClass]="{'has-error': (regform.controls.confirm.errors && regform.controls.confirm.dirty) || (regform.errors?.matchingPasswords && regform.controls.confirm.dirty), 'has-success': !regform.controls.confirm.errors && !regform.errors?.matchingPasswords}">
      <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="Confirm Password" formControlName="confirm" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="regform.controls.confirm.errors?.required && regform.controls.confirm.dirty">This field is required</li>
        <li *ngIf="regform.errors?.matchingPasswords && regform.controls.confirm.dirty">Password do not match</li>
      </ul>
  </div>



   <button  [disabled]="!regform.valid || processing || !emailValid" type="submit" class="btn btn-primary" >Sign in</button>
</form>
