<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="row">

  <div class="col-md-60 card2" >
    <div class="card bg-light mb-3" style="width: 50rem;">
      <div class="card-header headers" align="center">{{user.fullname}}</div>

      <div class="card-body">

        <div id="overview" align="center">

          <table>
            <tr>
              <td>
                <table>
                  <br>
                  <tr>
                    <td *ngIf="user.username !=''" class="contact" >Login:</td>
                    <td>{{user.username}}</td>
                  </tr>
                  <tr>
                    <td *ngIf="user.email !=''" class="contact" >Email:</td>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <td *ngIf="user.phonenumber">Phone number</td>
                    <td> {{user.phonenumber}} </td>
                  </tr>
                  <tr>
                    <td *ngIf="user.country">Counrty</td>
                    <td> {{user.country}} </td>
                  </tr>
                  <tr>
                    <td *ngIf="user.city">City</td>
                    <td>  {{user.city}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
  <div class=" card bg-light" style="width: 50rem;">
  <div class="card-body" >
    <table>
      <tr>
    <td>
      <div  style="max-width: 18rem;">
        <a [routerLink]="['/settings/']"><button type="button" class="btn btn-light" align="center" *ngIf="myuser.username===user.username">Edit profile</button></a>
        <button type="button" class="btn btn-light" align="center" *ngIf="(myuser.username!==user.username) && !onnuser " (click)="Subscribe(user.username)" >Subscribe</button>
        <a [routerLink]="['/friends/', myuser.username]"><button type="button" class="btn btn-light" align="center" *ngIf="myuser.username===user.username"> Show friends </button></a>
      </div>
    </td>
        <td>
          <div  style="max-width: 18rem;">
            <button *ngIf="!showpublication" type="button" class="btn btn-light" align="center" (click)="showPublication()" > Show publication</button>
            <button *ngIf="showpublication" type="button" class="btn btn-light" align="center" (click)="showPublication()" > Hide publication</button>
          </div>
        </td>
      </tr>

    </table>
  </div>
</div>
</div>
<br>
<br>

<div class="row" *ngIf="showpublication">


    <div class="mb-3" style="width: 40rem;">

      <app-preview-mypost></app-preview-mypost>

    </div>

</div>





