<div class="row show-hide-message" *ngIf="message && newPublication">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="card bg-light mb-3" *ngIf="!newPublication" style="width: 50rem;">

  <div class="card-body"  >

    <button type="button" name="button" class="btn btn-outline-primary btn-sm" *ngIf="!newPublication"
            [routerLink]="['/new-post/']">New Post</button>


  </div>

</div>
<div *ngIf="!newPublication">
<div class="card bg-light mb-3" *ngFor="let publications of myposts" style="width: 50rem;">


  <div class="card-header headers" align="center" >
    <a class='refs'[routerLink]="['/profile/', publications.user]" > <strong>{{publications.username}}</strong> </a>
  </div>

  <div class="card-body" >
    <table>
      <tr>
        <td class="text" align="center">
          <p> {{publications.text}} </p>
        </td>
      </tr>
      <tr>
        <td><p class="date">Date:  {{publications.createdAt | date: 'MMM dd, yyyy'}}</p></td>
      </tr>
    </table>


    <a [routerLink]="['/edit-post/', publications._id]" *ngIf="username === publications.user"><button type="button" class="btn btn-outline-info btn-sm"> Edit </button></a>
    <a [routerLink]="['/delete-post', publications._id]" *ngIf="username === publications.user"><button type="button" class="btn btn-outline-danger btn-sm"> Delete </button></a>
    <button type="button" name="button" class="btn btn-outline-danger btn-sm" (click)="draftComment(publications._id)" [disabled]="newComment.indexOf(publications._id) > -1">Post Comment</button>

  </div>

  <ul class="list-group">
    <div *ngIf = "newComment.indexOf(publications._id)>-1">
      <form [formGroup]="commentForm">
        <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
        <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
          <ul class="help-block">
            <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
            <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
          </ul>
        </div>

        <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-outline-info btn-sm" (click)="postComment(publications._id)"> Post </button>

        <button [disabled]="processing" type="button" name="button" class="btn btn-outline-danger btn-sm" (click)="cancelSubmission(publications._id)">Cancel</button>

      </form>
    </div>


    <li *ngIf="enabledComments.indexOf(publications._id) === -1 && publications.comments.length > 0" class="list-group-item">
      <span (click)="expand(publications._id)" class="iconic iconic-comment-square" title="comment square" aria-hidden="true"> Show comments </span>
    </li>

    <li *ngIf="enabledComments.indexOf(publications._id) > -1" class="list-group-item">
      <span (click)="collapse(publications._id)" class="iconic iconic-comment-square" title="comment square" aria-hidden="true"> Hide Comments </span>
    </li>

    <div *ngIf="enabledComments.indexOf(publications._id) > -1">
      <li *ngFor="let comment of publications.comments" class="list-group-item">
        <a class='refs'[routerLink]="['/profile/', comment.comentatorusername]" > <strong>{{comment.commentatorname}}</strong> </a>
         {{ comment.comment }}
      </li>
    </div>
  </ul>

</div>
</div>
