
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="ContactSubmit(form.value)">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input class="form-control" name="username" type="text"  formControlName="username" placeholder="{{user.username}}">
      <ul class="help-block">
      <li *ngIf="form.controls.username.dirty && form.controls.username.errors?.required">This field is required</li>
      </ul>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Phone number</label>
    <div class="col-sm-10">
      <input class="form-control" name="phonenumber" type="text" formControlName="phonenumber" placeholder="{{user.phonenumber}}">
      <ul class="help-block">
        <li *ngIf="form.controls.phonenumber.dirty && form.controls.phonenumber.errors?.required">This field is required</li>
      </ul>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Counrty</label>
    <div class="col-sm-10">
      <input class="form-control" name="country" type="text" formControlName="country" placeholder="{{user.country}}">
      <ul class="help-block">
      <li *ngIf="form.controls.country.dirty && form.controls.country.errors?.required">This field is required</li>
      </ul>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-10">
      <input class="form-control" name="city" type="text" formControlName="city" placeholder="{{user.city}}">
      <ul class="help-block">
      <li *ngIf="form.controls.city.dirty && form.controls.city.errors?.required">This field is required</li>
      </ul>
    </div>
  </div>

  <br>
  <button [disabled]="processing" type="submit" class="btn btn-primary"> Save </button>

</form>
