

<label class="headers">
  Edit publication
</label>


<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


<form (submit)="editPostSubmit()" *ngIf="!loading">


  <div class="form-group">
    <br>
      <textarea [disabled]="processing" name="text" rows="8" cols="80" class="form-control textar" [(ngModel)]="publication.text"></textarea>
  </div>

  <br>

  <button [disabled]="processing" type="submit" class="btn btn-outline-primary"> Save </button>
  <button [disabled]="processing" type="submit" class="btn btn-outline-danger" (click)="back()"> Back </button>

</form>
