<label class="headers">
  Add publication
</label>

<form [formGroup]="form" (submit)="onPublicationSubmit()">


  <div class="form-group">
    <br>
    <div [ngClass]="{'has-success': form.controls.text.valid, 'has-error': form.controls.text.dirty && form.controls.text.errors}">
      <textarea name="text" rows="8" cols="80" placeholder="..." class="form-control" formControlName="text"></textarea>
      <ul class="help-block">
        <li *ngIf="form.controls.text.dirty && form.controls.text.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.text.dirty && form.controls.text.errors?.minlength) || (form.controls.text.dirty && form.controls.text.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>

  <br>
  <button [disabled]="processing || !form.valid" type="submit" class="btn btn-outline-primary"> Add </button>
  <button [disabled]="processing" type="submit" class="btn btn-outline-danger" (click)="back()"> Back </button>


</form>
